* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4bbbb;
}

.container {
    margin: 0 auto;
    width: 75%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 10px 0;
}

.myul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 50px;
    font-size: 18px;
}

.myul li {
    border-bottom: 4px solid #d05895;
    width: 110%;
    cursor: pointer;
}
.header .logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.login {
    display: flex;
}

.login .fa-user {
    background: #515151;
    padding: 10px 15px;
    font-weight: 700;
}

.login span {
    background: #3e3e3e;
    padding: 10px 15px;
    font-weight: 700;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-box button {
    cursor: pointer;
    width: 10%;
    height: 53px;
    font-size: 30px;
    border: none;
    color: #d05895;
}

.search-box input {
    width: 90%;
    height: 54px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 700;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 20px 80px;
}

.img-container div {
    height: 300px;
}

.img-container div img {
    width: 100%;
    height: 100%;
}
/* /////////////////media query/////// */
@media only screen and (max-width: 1050px) {
    .container {
        width: 90%;
    }
    .myul {
        grid-column-gap: 28px;
    }
  }
/* //////// meadia /tablet ///////////////////// */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .myul {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 15px;
    }
  }
/* //////////media queries///////// */

@media only screen and (max-width: 576px) {
    .container {
        width: 95%;
    }
    .header {
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto auto;
    }
    .search-box {
        padding: 0px;
    }
    .myul {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
    }
    .myul li {
        width: 100%;
        padding: 5px 0px;
    }
    .login {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .menu {
        grid-column: 1/-1;
    }
    .img-container {
        grid-gap: 15px;
        margin-top: 20px;
        padding: 0;
    }
}